html {
    height: 100%;
}


ul {
    list-style-type: none;
  }

body {

    height: 100%;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;

}

#mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}

