{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container mt-5">
            <h1>Contact Details:</h1>
            <hr>
            <section class="text-center">
                <h4><i class="far fa-envelope"></i> Email:  info@filter4folks.com</h4> 
            </section>
            <br>
            <br>
            <section class="text-center">
                <h4><i class="fas fa-mobile-alt"></i> Phone:  +46 (08) 123-45673 </h4>
            </section>
            <br>
            <br>
            <section class="text-center">
                <h4>Address: <i class="fas fa-map-marker-alt"></i> 123 Main Street, Stockholm, Sweden </h4>
            </section>
            <br>
            <br>
            <div class="row">
                <div class="text-center rounded mx-auto d-block">
                    
                    <img src="https://images.pexels.com/photos/845451/pexels-photo-845451.jpeg?auto=compress&cs=tinysrgb&w=800" class="img-fluid" alt="Customer support">
                    <H3 class="text-right mt-2">We're here to assist your service!</H3>
                </div>
            </div>

    </div>
</div>
<footer class=" bg-light container-wrapper mt-5">
    <div class="container quotes-container content-container">
      <section class="footer">
       <div class="row">
         <div class="col-12 col-md-6">
           <h4 class="text-center">Social</h4>
           <p>Get to know us on social media and our latest product in our inventory</p>
           <a href="https://www.facebook.com/profile.php?id=61561386792798" target="_blank" class="text-dark"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
         </div>
         <div class="col-12 col-md-6 text-center">
           <h4>Subscribe!</h4>
           
           <div id="mc_embed_shell" class="mt-2">
                <div id="mc_embed_signup">
                        <form action="https://herokuapp.us13.list-manage.com/subscribe/post?u=c55ae6b587ad8fb6f51c56d2d&amp;id=2bb581fdc9&amp;f_id=00f957e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll"><p><p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p></hp>
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                            <input type="text" name="b_c55ae6b587ad8fb6f51c56d2d_2bb581fdc9" tabindex="-1" value="">
                        </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                    <p style="margin: 0px auto;"><a href="http://eepurl.com/iSWduA" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
         </div>
       </div>
       <hr>
     </section>
   </div>
 </footer>
{% endblock %}