{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container mt-5">
            <h1>Contact Details:</h1>
            <hr>
            <section class="text-center">
                <h4><i class="far fa-envelope"></i> Email:  info@filter4folks.com</h4> 
            </section>
            <br>
            <br>
            <section class="text-center">
                <h4><i class="fas fa-mobile-alt"></i> Phone:  +46 (08) 123-45673 </h4>
            </section>
            <br>
            <br>
            <section class="text-center">
                <h4>Address: <i class="fas fa-map-marker-alt"></i> 123 Main Street, Stockholm, Sweden </h4>
            </section>
            <br>
            <br>
            <div class="row">
                <div class="text-center rounded mx-auto d-block">
                    
                    <img src="https://images.pexels.com/photos/845451/pexels-photo-845451.jpeg?auto=compress&cs=tinysrgb&w=800" class="img-fluid" alt="Customer support">
                    <H3 class="text-right mt-2">We're here to assist your service!</H3>
                </div>
            </div>

    </div>
</div>
{% endblock %}