{% extends 'core/base.html' %}
{% block title %}Home | Filter for Folks {% endblock %}
{% block extra_meta %}
    <meta name="description" content="Filter for Folks. Filter for Folks, an online webshop, safe installments of Air Filters, health, fresh, sustainable, enviromental!">
    <meta name="keywords" content="e-commerce, shopping, Filter for Folks, Hardware Store, Air filters, Toolboxes, Services, Long Expertise, Professional Guidance, Radiators, Tools">

    <!-- Social Media - Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Filter for Folks">
    <meta property="og:description" content="Filter for Folks. Filter for Folks, an online hardware store selling all you need from environmental friendly air filters to toolboxes!"> 
    <meta name="image" property="og:image" content="#">
    <meta property="og:image:alt" content="Filter for Folks ecommerce hardware shown on a variety of devices, from mobile to desktop">
    <meta property="og:url" content="https://filter-for-folks-58441ed4952a.herokuapp.com/">
    <meta property="og:site_name" content="Filter for Folks">
{% endblock %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter for Folks</title>
</head>
<body>

    <div class="container-fluid mt-5 text-center">

        <div class="row">

            <div class="col-md-6 order-md-2 text-info">
                {% if request.user.is_authenticated %}
                    <h1 id="welcome">Welcome {{ request.user.username }} to Filter for Folks</h1>

                    <ul>
                        <li class="list-unstyled">
                            <p>
                                <strong>
                                    We're here to assist you with the best air ventilation
                                </strong>
                            </p>
                        </li>
                    </ul>
                {% else %}
                <h1>Welcome to Filter for Folks</h1>

                <ul>
                    <li class="list-unstyled">
                        <p>We're here to assist you with the best air ventilation</p>
                    </li>
                </ul>
                {% endif %}

            </div>
        </div>
        <div class="col-md-6 order-md-1">

            <img src="https://images.pexels.com/photos/54300/pexels-photo-54300.jpeg?auto=compress&cs=tinysrgb&w=600" alt="wind">
        </div>

        <div class="row justify-content-end">
            <div class="col-md-6 order-md-1">

                <a href="{% url 'product:inventory' %}" class="btn btn-outline-info btn-lg">
                    <span>
                        <i class="far fa-hand-point-right"></i>
                    </span>
                    <span class="text-uppercase">Our Inventory</span>
                </a>
            </div>

        </div>

    </div>

</body>

</html>
{% endblock %}