{% extends 'core/base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="container-fluid">
    <h2><span class="badge badge-warning">Our</span> Air Filters</h2>
    <div class="bg-secondary mt-3 p-5 text-center">

        <div class="row">
            {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100">
                            <a href="#">
                                <div class="card">
                                    <div class="card-body">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                        <hr>
                                        <div>
                                            <h2 class="card-title text-dark mt-0">{{ product.name }}</h2>
                                            <p class="card-text text-dark">Price: ${{ product.price}}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row text-white bg-dark ml-1 container-fluid">

            <h2><span class="badge badge-warning p-3 ">Filter</span> Categories</h2>
            <hr>
            {% for category in categories %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3">
                        <div class="h-100">
                            <div>
                                <a href="">
                                    <div class="row">
                                        <div class="col">

                                            <h6 class="card-title mt-0 text-white">{{ category.name }}:</h6>
                                        </div>
                                        
                                        <div class="col">

                                            <p class="card-text text-warning">{{ category.products.count }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock %}