{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">

            <div class="col w-100 mt-2">
                <h1>Register</h1>
                <p class="text-muted">Please sign up with us at <strong class="text-uppercase">Filter for Folks</strong></p>
                <form action="" method="post">
                    {% csrf_token %}
            
                    {% if form.non_field_errors %}
                    
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}

                    {% endif %}
        
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                
                <div class="text-danger list-unstyled">
                    {% for field in form %}
                    
                        {{ field }}
                        {{ field.errors.as_ul }}
                    
                    {% endfor %}
                </div>
                    <button class="btn btn-info rounded-circle text-uppercase justify-content-center mt-4" type="submit">Register</button>
                </form>

            </div>
            
        </div>
    </div> 
</div>
{% endblock %}