{% extends 'core/base.html' %}


{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                    <a href="" target="_blank">
                        <img class="card-img-top img-fluid rounded" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid rounded" src="" alt="">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="mb-5 mt-md-5">
                <h2 class="mb-0">{{ product.name }}</h2>
                <hr>
                <p class="lead mb-0 text-left font-weight-bold"><strong>Price: </strong> ${{ product.price }}</p>
                <br>
                {% if product.description %}
                    <p class="lead mb-1 text-left font-weight">
                        <strong>Product Description:</strong><br>
                    </p>
                    <div>
                        {{ product.description }}
                    </div>
                    
                    <div class="col-md-6 order-md-1 mt-5">
                    {% if request.user.is_superuser == False %}
                        <div class="row">

                            <div class="col-sm">

                                <!----Change here ------>
                                <form action="{% url 'add_cart' product.id %}" method="POST" class="form">
                                    <p>
                                        
                                        <button type="button" value="{{ product.id }}" id="add-cart" class="btn btn-outline-success btn-md">
                                            
                                            <span>
                                                <i class="fas fa-cart-plus"></i>
                                            </span>
                                            <span class="text-uppercase">Add to Cart</span>
                                        </button>

                                    

                                    </p>
                                </form>
                            </div>
                    {% endif %} 
                            <div class="col-sm">
                                <p>
                                    <a href="{% url 'product:inventory' %}" class="btn btn-outline-info btn-md">
                                        <span>
                                            <i class="far fa-hand-point-right"></i>
                                        </span>
                                        <span class="text-uppercase">Back to Inventory</span>
                                    </a>

                                </p>
                            </div>
                            
                        </div>
                    </div>
                        
                    
                {% endif %}
            
                {% if request.user.is_superuser == True %}
                    <div class="container">
                        <div class="row">
                            <div class="mb-5 mt-md-5">
                                <p>This is your item!</p>

                                <a href="{% url 'product:edit' product.id %}" class="btn-outline-info btn-lg">Edit</a>
                                <a href="{% url 'product:delete' product.id %}" class="btn-outline-danger btn-lg">Delete</a>

                            </div>
                {% endif %}

                
                        </div>
                    </div>
            </div>
        </div>
      
        <div class="container-fluid">
            <h2><span class="badge badge-primary">Related</span> products: </h2>
            <div class="row">
                {% for product in related_products %}
                
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100">
                                <a href="{% url 'product:product_detail' product.id %}">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="{{ product.image.url }}" class="card-img-top img-fluid">
                                            <hr>
                                            <div>
                                                <h2 class="card-title text-dark mt-0">{{ product.name }}</h2>
                                                <p class="card-text text-dark">Price: ${{ product.price }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                
                {% empty %}

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100">
                                    <div class="card">
                                        <div class="card-body">
                                            <hr>
                                            <div>
                                                <h2 class="card-title text-dark mt-0"> No related products... </h2>

                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                
                {% endfor %}
            </div>
        </div>
     

</div>


{% endblock %}