{% extends 'core/base.html' %}


{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                    <a href="" target="_blank">
                        <img class="card-img-top img-fluid rounded" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid rounded" src="" alt="">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="mb-5 mt-md-5">
                <h2 class="mb-0">{{ product.name }}</h2>
                <hr>
                {% if user.is_authenticated %}
                    <p class="lead mb-0 text-left font-weight-bold"><strong>Price: </strong> ${{ product.price }}</p>
                {% else %} 
                <a href="{% url 'account_signup' %}" class="btn btn-outline-secondary text-uppercase">Wanna se our prices?</a>
                <p class="text-dark">Register an account with us!</p> 
               <br>
                {% endif %} 
                <br>
                {% if product.description %}
                    <p class="lead mb-1 text-left font-weight">
                        <strong>Product Description:</strong><br>
                    </p>
                    <div>
                        {{ product.description }}
                    </div>
                    
                    <div class="col-md-6 order-md-1 mt-5">
                        {% if request.user.is_superuser == False %}

                            {% if user.is_authenticated %}
                            
                                <form class="form" action="{% url 'add_cart' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-12">
                                            <p class="mt-3"><strong>Quantity:</strong></p>
                                            
                                            <div class="form-group w-50">
                                                <div class="input-group">
                                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="9999" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                </div>
                                                <p class="mt-2">*Please enter amount*</p>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <a href="{% url 'product:inventory' %}" class="btn btn-outline-black rounded-0 mt-5">
                                                <span class="icon">
                                                    <i class="fas fa-chevron-left"></i>
                                                </span>
                                                <span class="text-uppercase">Keep Shopping</span>
                                            </a>
                                            <input type="submit" class="btn btn-success rounded-0 text-uppercase mt-5" value="Add to Cart">
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </div>
                                </form>
                            {% endif %} 
                                
                        {% endif %} 
                    </div>
                            <div class="col-sm">
                                <p>
                                    <a href="{% url 'product:inventory' %}" class="btn btn-outline-info btn-md">
                                        <span>
                                            <i class="far fa-hand-point-right"></i>
                                        </span>
                                        <span class="text-uppercase">Back to Inventory</span>
                                    </a>

                                </p>
                            </div>
                            
                        </div>
                    </div>
                        
                    
                {% endif %}
            
                {% if request.user.is_superuser == True %}
                    <div class="container">
                        <div class="row">
                            <div class="mb-5 mt-md-5">
                                <p>Please make some changes regarding your product!</p>

                                <a href="{% url 'product:edit' product.id %}" class="btn-outline-info btn-lg">Edit</a>
                                <a href="{% url 'product:delete' product.id %}" class="btn-outline-danger btn-lg">Delete</a>

                            </div>
                {% endif %}

                
                        </div>
                    </div>
            </div>
        </div>
      
        <div class="container-fluid">
            <h2><span class="badge badge-primary">Related</span> products: </h2>
            <div class="row">
                {% for product in related_products %}
                
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100">
                                <a href="{% url 'product:product_detail' product.id %}">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="{{ product.image.url }}" class="card-img-top img-fluid">
                                            <hr>
                                            <div>
                                                <h2 class="card-title text-dark mt-0">{{ product.name }}</h2>
                                                {% if user.is_authenticated %}
                                                    <p class="card-text text-dark">Price: ${{ product.price }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                
                {% empty %}

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100">
                                    <div class="card">
                                        <div class="card-body">
                                            <hr>
                                            <div>
                                                <h2 class="card-title text-dark mt-0"> No related products... </h2>

                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                
                {% endfor %}
            </div>
        </div>
     

</div>


{% endblock %}