{% extends "core/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="row justify-content-center mt-2">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-info rounded-circle text-uppercase justify-content-end mt-4" type="submit">{% trans 'Sign Out' %}</button>
        </form>
        <hr>
        <img src="https://images.pexels.com/photos/2882511/pexels-photo-2882511.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-fluid rounded" alt="Sign Out">
    </div>
</div>


{% endblock %}
