{% extends "core/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center mt-2">
      <div class="col-6 offset-3">

        <h1>{% trans "Register Your Personal Account" %}</h1>

        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-info rounded-circle text-uppercase justify-content-end mt-4" type="submit">{% trans "Register Account" %} &raquo;</button>
          
        </form>
        <br>
      </div>
      <div class="rounded mx-auto d-block">
                
        <img src="https://images.pexels.com/photos/8815877/pexels-photo-8815877.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-fluid" alt="Register">
    </div>
  </div>
</div>
{% endblock %}